<div class='card'>
  <div class='card-header' align="left">
    {{pageTitle}}
  </div>
  <div class='card-body'>

    <div class='row'>
      <div class='col-md-2'>Filter By</div>
      <div class='col-md-3'>
        <input type='text'>
      </div>
    </div>

    <div class='row'>
      <div class='col-md-2'>
        <h6>Filtered by: </h6>
      </div>
    </div>

    <div class='table-responsive'>
      <table class='table'
      *ngIf='products.length>0'>
        <thead>
          <tr>
            <th>
              <button class='btn btn-primary'>
                Show Image
              </button>
            </th>
            <th>Product</th>
            <th>Code</th>
            <th>Available</th>
            <th>Price</th>
            <th>5 Star Rating</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor='let product of products'>
            <th></th>
            <th>{{product.productName}}</th>
            <th>{{product.productCode}}</th>
            <th>{{product.releaseDate}}</th>
            <th>{{product.price}}</th>
            <th>{{product.starRating}}</th>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>
